<!--各ページの左側(User info)-->
<div>
  <h3>User Info</h3>
  <%= image_tag user.get_profile_image(100,100) %>
  <h4>Name: <%= user.name %></h4>
  <h4>Introduction: <%= user.introduction %></h4>
</div>
<p><%= link_to "edit", edit_user_path(user.id) %></p>
