<!--New Bookを部分テンプレートにしてここに書く-->
<h3>New Book</h3>
<%=form_with model: nbook do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_field :body %>

  <%= f.submit 'Create Books' %>
<% end %>
